rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /activities/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /donations/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /finances/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /dhamma/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /live/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /downloads/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /gallery/{docId} { allow read: if true; allow write: if request.auth != null; }
    match /contact/{docId} { allow read: if true; allow write: if request.auth != null; }
  }
}